*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  background-color: rgb(177, 77, 177);
  color: white;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-weight:500;
  letter-spacing: 0.3px;
}
p:hover{
  box-shadow: 2px 2px 10px rgb(177, 77, 177);
  transition: 0.1s ease-in;
}
p:active{
  transform: scale(1.04);
}

p.selected{
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 2px 8px;
  font-size: small;
}
p.selected:hover{
  box-shadow: none;
}
